; configuration file for ini

; endpoint configuration for Azure storage ( http/https )
endpoint=https

; account name
accountname=abcd

; account key
accountkey="abcd=="

; retention period
retention=30
